body[data-theme="light"] {
    .dark\:bg-slate-300 {
        --tw-bg-opacity: 1;
        background-color: rgb(203 213 225 / var(--tw-bg-opacity));
    }

    .dark\:bg-slate-400 {
        --tw-bg-opacity: 1;
        background-color: rgb(148 163 184 / var(--tw-bg-opacity));
    }

    .dark\:bg-slate-700 {
        --tw-bg-opacity: 1;
        background-color: rgb(203 213 225 / var(--tw-bg-opacity));
    }
}
