{% extends "base.html" %} {% block title %}API-Dokumentation{% endblock %} {%
block content %}
<div class="prose">
    <table>
        <tr>
            <th>Link</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a class="link" href="/download">/download</a></td>
            <td>Index List!</td>
        </tr>
        <tr>
            <td>
                <a class="link" href="/download/image/temperature/month">
                    /download/&lt;string:file_type&gt;/&lt;string:data_type&gt;/&lt;string:mode&gt;
                </a>
            </td>
            <td>To download data!</td>
        </tr>
        <tr>
            <td><h2>everything below has the prefix</h2></td>
            <td><h2>/api</h2></td>
        </tr>
        <tr>
            <td><a class="link" href="/docs">/docs</a></td>
            <td>This Site!</td>
        </tr>
        <tr>
            <td>
                <a class="link" href="/api/temperature/month">
                    /&lt;string:data_type&gt;/&lt;string:mode&gt;
                </a>
            </td>
            <td>Gives you the data in JSON format</td>
        </tr>
        <tr>
            <td>
                <a class="link" href="/api/img/temperature/month">
                    /img/&lt;string:data_type&gt;/&lt;string:mode&gt;
                </a>
            </td>
            <td>Gives you a picture of the graphs</td>
        </tr>
        <tr>
            <td><a class="link" href="/api/post"> /post</a></td>
            <td>Upload of the weather data!</td>
        </tr>
        <tr>
            <td><a class="link" href="/api/all"> /all </a></td>
            <td>All the current Weather data in one place!</td>
        </tr>
    </table>
    <sub>@NprogramDev</sub>
</div>
{% endblock %}
