{% extends "base.html" %} {% block title %}API-Dokumentation{% endblock %} {%
block content %}
<div class="prose">
    <table>
        <tr>
            <th>Link</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a class="link" href="../api/">/api/</a></td>
            <td>Index List!</td>
        </tr>
        <tr>
            <td><h2>everything below has the prefix</h2></td>
            <td><h2>/api</h2></td>
        </tr>
        <tr>
            <td><a class="link" href="../api/docs.html">/docs.html</a></td>
            <td>This Site!</td>
        </tr>
        <tr>
            <td>
                <a class="link" href="../api/temperature/month.json">
                    /&lt;string:data_type&gt;/&lt;string:mode&gt;.json
                </a>
            </td>
            <td>Gives you the data in JSON format by Types (See blow).
        </td>
        </tr>
        <tr>
            <td>
                <a class="link" href="../api/img/temperature/month.jpg">
                    /img/&lt;string:data_type&gt;/&lt;string:mode&gt;.jpg
                </a>
            </td>
            <td>Gives you a picture of the graphs by Types (See blow).</td>
        </tr>
        <!--<tr>
            <td><a class="link" href="../api/post"> /post</a></td>
            <td>Upload of the weather data!</td>
        </tr>-->
        <tr>
            <td><a class="link" href="../api/all.json"> /all.json </a></td>
            <td>All the current Weather data in one place!</td>
        </tr>
        <tr>
            <td>
                <a class="link" href="../api/meteoware-live.json"> /meteoware-live.json </a>
            </td>
            <td>All the current Weather data readable for Meteohub Live Weather Display</td>
        </tr>
    </table>
    <sub>@NprogramDev</sub>
</div>
{% endblock %}
