<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='refresh' content='0; URL=./live'>
    <title>Weitergeleitet auf Seite: http://amorkeg.de/wetter/live</title>
</head>
<body>
    <style>
        html,body{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #1d232a;
            color: white;
        }
        a:visited, a:link, a:active{
            color: white;
        }
    </style>
    <a href="./live">You should be redirected to: http://amorkeg.de/wetter/live</a>
    <div>&nbsp;</div>
    <a href="./live">Du solltest folgende Seite weitergeleitet werden: http://amorkeg.de/wetter/live</a>
</body>
</html>