{% extends "tabulator.html" %}
{% block active_tab %}1{% endblock %}
{% block tab_head %}
<script src="./static/js/tab2.js" type="module"> </script>
{% endblock %}
{% block tab_content %}
<div  data-tab="1">
    <h2>Tages&uuml;bersicht</h2>
    <canvas id="day-temp" class="w-full h-full"></canvas>
    <canvas id="day-rain" class="w-full h-full"></canvas>
    <canvas id="day-hum" class="w-full h-full"></canvas>
    <canvas id="day-pre" class="w-full h-full"></canvas>
    <canvas id="day-win" class="w-full h-full"></canvas>
</div>
{% endblock %}