{% extends "base.html" %} {% block title %}Überblick{% endblock %} {% block head %}
<!--Everything in the Head of the later HTML-->
<!-- ------------------------------- Scripts ------------------------------- -->
<script src="../static/js/chart.min.js"></script>
{% block tab_head %}{% endblock %}
<script>
    window.data_update_time = parseInt(`{{ timestamp }}`);
</script>
{% endblock %} {% block content %}
<div id="info_last_updated" class="pb-3 text-red-500 text-xl"></div>
<div>
    <div class="tabsjs prose" data-classtoggle="tab-active">
        <!--Tabs-->
        <div class="tabs">
            <a href="../live" class="tab tab-bordered tabsjs-sel no-underline" data-tab="0">Live&uuml;bersicht </a>
            <a href="../day" class="tab tab-bordered tabsjs-sel no-underline" data-tab="1">Tages&uuml;bersicht </a>
            <a href="../week" class="tab tab-bordered tabsjs-sel no-underline" data-tab="2">Wochen&uuml;bersicht </a>
            <a href="../month" class="tab tab-bordered tabsjs-sel no-underline" data-tab="3">Monats&uuml;bersicht </a>
            <a href="../info" class="tab tab-bordered tabsjs-sel no-underline" data-tab="4">Informationen </a>
        </div>
        <script>
            let activeTab = {% block active_tab %}{% endblock %};
            Array.from(document.getElementsByClassName("tab")).forEach((tab) => {
                if (parseInt(tab.getAttribute("data-tab")) === activeTab) {
                    tab.classList.add("tab-active");
                }
            });
        </script>
        {% block tab_content %} {% endblock %}
    </div>
</div>
{% endblock %}
