{% extends "tabulator.html" %}
{% block active_tab %}2{% endblock %}
{% block tab_head %}
<script src="../static/js/tab3.js" type="module"> </script>
{% endblock %}
{% block tab_content %}
<!--If JS is not Enabled!-->
<noscript>
    <h3>
        Woche
    </h3>
    <p class="pb-3 text-xl">F&uuml;r eine bessere Erfahrung, schalten Sie JavaScript ein und laden Sie die Seite neu.</p>
    <img src="../api/img/temperature/week.jpg" alt="Temperatur Monat">
    <img src="../api/img/rain/week.jpg" alt="Regen Monat">
    <img src="../api/img/pressure/week.jpg" alt="Luftdruck Monat">
    <img src="../api/img/wind_speed/week.jpg" alt="Windgeschwindigkeit Monat">
</noscript>
<div class="js_enabled" style="display: none;"  data-tab="2">
    <h2>Wochen&uuml;bersicht</h2>
    <canvas id="week-temp" class="w-full h-full"></canvas>
    <canvas id="week-rain" class="w-full h-full"></canvas>
    <canvas id="week-hum" class="w-full h-full"></canvas>
    <canvas id="week-pre" class="w-full h-full"></canvas>
    <canvas id="week-win" class="w-full h-full"></canvas>
</div>
{% endblock %}